<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{ gettext('Medical cell detection') }}</title>
		
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='css/base.css') }}"
		>
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='fonts/roboto/style.css') }}"
		>
	</head>
	<body>
		<header>
			<section class="header-main">
				<img
					src="{{ url_for('static', filename='images/logo.png') }}"
					alt="{{ gettext('Logo') }}"
					width="30"
					height="30"
				>
				<h1>{{ gettext('Medical cell detection') }}</h1>
			</section>
			<section class="header-other">
				POC
			</section>
		</header>
		{% block content %}{% endblock %}
	</body>
</html>
