{% extends 'base.html' %}

{% block content %}
	<script
		type="text/javascript"
		src="{{ url_for('static', filename='js/upload.js') }}"
	></script>
	<main>
		<section class="main-center text-center">
			<div>
				<div class="styled-file-input-wrapper">
					<button id="image-button" class="styled-file-input-button">{{ gettext('Upload image') }}</button>
					<input
						id="image"
						class="styled-file-input"
						type="file"
						id="image"
						name="image"
						accept="image/png, image/jpeg, image/bmp, image/tiff"
					>
				</div>
				<div id="visualize-wrapper">
					<input
						type="checkbox"
						id="visualize"
						name="visualize"
						checked
					>
					<label for="visualize">{{ gettext('Create an interactive map') }}</label>
				</div>
			</div>
			<small class="text-secondary" id="bottom-text">
				{{ gettext('PNG, JPEG, TIFF and BMP are supported.') }}
			</small>
		</section>
	</main>
{% endblock %}
