{% extends 'base.html' %}

{% block content %}
	<script
		type="text/javascript"
		src="{{ url_for('static', filename='js/result.js') }}"
	></script>
	<script type="text/javascript">
		window.cellData = {{ cell_data|safe }};
		
		window.addEventListener(
			"DOMContentLoaded",
			function (event) {
				generateSvg(window.cellData);
			}
		);
	</script>
	
	<main>
		<section class="main-left text-center">
			<a href="{{ url_for('detector.detect') }}">
				<img
					src="{{ url_for('static', filename='images/arrow-left.svg') }}"
					alt="{{ gettext('Go back') }}"
					width="30"
				>
			</a><br><br>
			
			<input
				type="checkbox"
				name="show-core"
				id="show-core"
			>
			<label for="show-core">{{ gettext('Highlight cores') }}</label>
			<br>
			<input
				type="checkbox"
				name="show-shell"
				id="show-shell"
			>
			<label for="show-shell">{{ gettext('Highlight shells') }}</label>
		</section>
		<section class="main-center text-center">
			<div class="result-image-wrapper">
				<img
					id="result-image"
					src="data:image/png;base64,{{ image }}"
					alt="{{ gettext('Result image') }}"
				>
				<svg id="result-svg" class="result-svg" viewBox="0 0 {{ width }} {{ height }}"></svg>
			</div>
			
			<button id="download-json">{{ gettext('Export to JSON') }}</button>
			<button id="download-image">{{ gettext('Download image') }}</button>
			
			<br>
			
			<p>
				{{ gettext('There are a total of %s cells.').format(cell_data|length) }}
		</section>
	</main>
{% endblock %}
