{% extends 'base.html' %}

{% block content %}
	<main>
		<section class="main-center text-center">
			<div class="error">
				{% if error is none %}
					{{ gettext("An unknown error has occurred. We apologize for the inconvenience.") }}
				{% endif %}
			</div>
		</section>
	</main>
{% endblock %}
