{% extends 'base.html' %}

{% block content %}
	<script
		type="text/javascript"
		src="{{ url_for('static', filename='js/result.js') }}"
	></script>
	
	<main>
		<section class="main-left text-center">
			<a href="{{ url_for('detector.detect') }}">
				<img
					src="{{ url_for('static', filename='images/arrow-left.svg') }}"
					alt="{{ gettext('Go back') }}"
					width="30"
				>
			</a>
		</section>
		<section class="main-center text-center">
			<img
				id="result-image"
				src="data:image/png;base64,{{ image }}"
				alt="{{ gettext('Result image') }}"
			>
		</section>
	</main>
{% endblock %}
