/* Everything - body */
html, body {
	font-family: "Roboto", sans-serif;
	padding: 0;
	margin: 0;
	color: #000;
	background: #fff;
}

/* Header */
header {
	display: flex;
	justify-content: space-between;
	gap: 5px;
	background: #6200ee;
	color: #fff;
	padding: 15px;
}

header .header-main,
header .header-other {
	display: flex;
	gap: 10px;
	align-items: center;
}

header .header-main h1 {
	margin: 0;
	font-weight: normal;
}

/* Main content */
main {
	margin-top: 20px;
	margin-bottom: 20px;
	display: grid; 
	grid-template-columns: 15% 70% 15%; 
	grid-template-rows: 1fr; 
	gap: 10px 10px; 
	grid-template-areas: "left center right"; 
	max-width: 1100px;
	margin-left: auto;
	margin-right: auto;
}

main .main-center {
	grid-area: center;
}

/* Error */
.error {
	background: #b00020;
	color: #fff;
	padding: 10px 25px;
}

/* Result image, SVG */
.result-image-wrapper {
	position: relative;
	display: inline-block;
	width: 100%;
}

#result-image {
	max-width: 100%;
	display: block;
	height: auto;
}

.result-svg {
	position: absolute;
	top: 0;
	left: 0;
}

/* Information window */
.information-window {
	position: absolute;
	left: 0;
	top: 0;
	background: #03dac6;
	color: #000;
	z-index: 999;
	padding: 10px;
}

/* Nicer file input */
.styled-file-input-wrapper {
	display: inline-block;
	position: relative;
	overflow: hidden;
}

.styled-file-input-wrapper input[type=file].styled-file-input {
	left: 0;
	top: 0;
	opacity: 0;
	position: absolute;
	height: 100%;
	cursor: pointer;
}

.styled-file-input-wrapper .styled-file-input-button {
	background: #03dac6;
	border: 0;
	color: #000;
	padding: 10px 25px;
	font-size: large;
	margin: 5px;
}

/* Nicer submit and buttons */

input[type=submit], button {
	background: #03dac6;
	border: 0;
	color: #000;
	padding: 10px 25px;
	font-size: large;
	cursor: pointer;
	transition: .1s;
	margin: 5px;
}

input[type=submit]:hover, button:hover {
	background: #018786;
}

/* Text utilities */
.text-center {
	text-align: center;
}

.text-secondary {
	color: #666;
}
